*
{
    margin:0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.header
{
    width:100%;
}

.header .top_header
{
    max-width: 100%;
    display: flex;
    padding: 10px 10px;
    background: #f6f7f8;
}

.header .top_header .icon
{
    margin-left: 20px;
    color:rgb(88, 86, 86);
    font-size: 20px ;
}

.header .top_header .info p
{
    margin-left: 10px;
    color:rgb(88, 86, 86);
}

.header .mid_header{
    display: flex;
    padding: 20px 40px;
    max-width: 100%;
    justify-content: space-between;
}

.header .mid_header .logo{
    
    cursor: pointer;
    object-fit: cover;   
    font-size: 30px;
}

.header .mid_header .search_box input
{
    padding: 10px 10px;
    outline: none;
    background: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px ;
    width: 250px;
    border: none;
    border: 1px solid gray;
}

.header .mid_header .search_box button
{
    padding: 10px 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    outline:none;
    border: 1px solid orange;
    width: 50px;
    background: orange;
    color: #f6f7f8;
    cursor: pointer;
    margin-right:30px ;
    transition: 0.5s;
    font-weight: 600;
}

.header .mid_header .search_box button:hover
{
    background: #0c0d0f;
    border: rgb(161, 107, 5);
    color: orange;
}

.header .mid_header .user{
    display: flex;
    margin-right:30px ;
}

.header .mid_header .user .icon{
    margin-right: 10px;
}

.header .mid_header .user .btn button{
    border: none;
    outline: none;
    font-size: 16px;
    background: none;
    cursor: pointer;
    display: flex;
}

.header .last_header
{
    width: 100%;
    padding: 10px 10px;
    display: flex;
    background: #232323;
    justify-content: space-between;
}


.header .last_header .user_profile
{
    display: flex;
    margin-top:5px ;
}

.header .last_header .user_profile .icon
{
    padding: 10px 10px;
    background-color: #fff;
    border-radius: 20%;
    width: 40px;
    
}


.header .last_header .user_profile .info
{
    margin-left: 10px ;
}

.header .last_header .user_profile  h2
{
    color: #fff;
    font-size: 18px;
}

.header .last_header .user_profile  p
{
    color: #ababab;
    font-size: 14px;
}

.header .last_header .nav
{
    margin-top:10px ;

}

.header .last_header .nav ul{
    display: flex;
    list-style-type: none;
}

.header .last_header .nav ul li  .link
{
    margin-right: 40px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}

.header .last_header .nav ul li  .link:hover{
    color: orange ;
}

.header .last_header .offer
{
    margin-right: 50px;
    padding: 10px 10px;
    background: orange;
    border-radius: 10px;
}

.header .last_header .offer p{

    text-transform: uppercase;
    margin-top: 2px;

}

/*  */

  @media (max-width:640px){

    .mid_header{
      flex-direction: column;
      width: 100%;
      margin: 10px;
    }

     .search_box{
        width: 400px;
    }  
   
  }


@media (max-width:640px){
    .last_header{
        flex-direction: column;
        font-size: small;
    }   
    
    .offer{
        display: none;
    }

}











